In [2]:
import pandas as pd
df = pd.read_csv('transaction.csv',delimiter=",")
df.head()

,payerAccountNumber,status,originalAmount,type,currency,createdAt,payeeIdTransformed,payerIdTransformed,is_fraud,amount_high,...,bank_do_not_honor,bank_lost_card,initialized_api,initialized_session,initialized_plugin,initialized_ext_api,initialized_ipg,channel_master,channel_visa,channel_amex
0,4.216896e+09,1,6110.0,1,1,2020-06-01 00:47:34,2,208,0,0,...,0,0,0,1,0,0,0,0,1,0
1,4.835598e+09,0,3274.0,0,1,2020-06-01 01:21:27,3,209,0,0,...,0,0,1,0,0,0,0,0,1,0
2,4.216898e+09,0,2303.0,0,1,2020-06-01 01:21:30,3,210,0,0,...,0,1,1,0,0,0,0,0,1,0
3,4.216893e+09,0,9000.0,0,1,2020-06-01 01:21:32,3,211,0,0,...,0,0,1,0,0,0,0,0,1,0
4,4.216899e+09,0,6250.0,0,1,2020-06-01 01:21:34,3,212,0,0,...,0,0,1,0,0,0,0,0,1,0

In [3]:
import pandas as pd
df = pd.read_csv('transaction.csv', delimiter=",")
cat_vars=['status','type','currency','is_fraud','amount_high','bank_approved','bank_err','bank_invalid_card','bank_insufficient_fund','bank_do_not_honor','bank_lost_card','initialized_api','initialized_session','initialized_plugin','initialized_ext_api','initialized_ipg','channel_master','channel_visa','channel_amex']
df[cat_vars] = df[cat_vars].astype(str)
df.info()
df.describe()
df.to_csv('transaction_type_cast.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256334 entries, 0 to 256333
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   payerAccountNumber      256294 non-null  float64
 1   status                  256334 non-null  object
 2   originalAmount          256334 non-null  float64
 3   type                    256334 non-null  object
 4   currency                256334 non-null  object
 5   createdAt               256334 non-null  object
 6   payeeIdTransformed      256334 non-null  int64
 7   payerIdTransformed      256334 non-null  int64
 8   is_fraud                256334 non-null  object
 9   amount_high             256334 non-null  object
 10  bank_approved           256334 non-null  object
 11  bank_err                256334 non-null  object
 12  bank_invalid_card       256334 non-null  object
 13  bank_insufficient_fund  256334 non-null  object
 14  bank_do_not_honor       256334 non-null  object
 15  bank_lost_card          256334 non-null  object
 16  initialized_api         256334 non-null  object
 17  initialized_session     256334 non-null  object
 18  initialized_plugin      256334 non-null  object
 19  initialized_ext_api     256334 non-null  object
 20  initialized_ipg         256334 non-null  object
 21  channel_master          256334 non-null  object
 22  channel_visa            256334 non-null  object
 23  channel_amex            256334 non-null  object
dtypes: float64(2), int64(2), object(20)
memory usage: 46.9+ MB

In [2]:
!pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0-py2.py3-none-any.whl
Collecting scikit-learn
  Using cached scikit_learn-0.24.2-cp39-cp39-macosx_10_13_x86_64.whl (7.3 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Collecting scipy>=0.19.1
  Using cached scipy-1.6.3-cp39-cp39-macosx_10_9_x86_64.whl (30.9 MB)
Collecting joblib>=0.11
  Using cached joblib-1.0.1-py3-none-any.whl (303 kB)
Requirement already satisfied: numpy>=1.13.3 in /Users/directpay/mambaforge/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.20.3)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.0.1 scikit-learn-0.24.2 scipy-1.6.3 sklearn-0.0 threadpoolctl-2.1.0

In [10]:
!c:\users\dela\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\dela\appdata\local\programs\python\python39\lib\site-packages (21.1.1)
Collecting pip
  Downloading pip-21.1.2-py3-none-any.whl (1.5 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.1
    Uninstalling pip-21.1.1:
      Successfully uninstalled pip-21.1.1
Successfully installed pip-21.1.2

In [4]:
from sklearn.preprocessing import StandardScaler
df3 = pd.read_csv('transaction.csv', delimiter=",")
con_vars = ['payerAccountNumber','originalAmount', 'payeeIdTransformed',
           'payerIdTransformed']
scaler = StandardScaler()
df3[con_vars]=scaler.fit_transform(df3[con_vars])
df3.head(5)
df3.to_csv('transaction_standerdize.csv',index=False)

In [33]:
df = pd.read_csv('transaction_standerdize.csv',delimiter=",")
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256334 entries, 0 to 256333
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   payerAccountNumber      256294 non-null  float64
 1   status                  256334 non-null  int64
 2   originalAmount          256334 non-null  float64
 3   type                    256334 non-null  int64
 4   currency                256334 non-null  int64
 5   createdAt               256334 non-null  object
 6   payeeIdTransformed      256334 non-null  float64
 7   payerIdTransformed      256334 non-null  float64
 8   is_fraud                256334 non-null  int64
 9   amount_high             256334 non-null  int64
 10  bank_approved           256334 non-null  int64
 11  bank_err                256334 non-null  int64
 12  bank_invalid_card       256334 non-null  int64
 13  bank_insufficient_fund  256334 non-null  int64
 14  bank_do_not_honor       256334 non-null  int64
 15  bank_lost_card          256334 non-null  int64
 16  initialized_api         256334 non-null  int64
 17  initialized_session     256334 non-null  int64
 18  initialized_plugin      256334 non-null  int64
 19  initialized_ext_api     256334 non-null  int64
 20  initialized_ipg         256334 non-null  int64
 21  channel_master          256334 non-null  int64
 22  channel_visa            256334 non-null  int64
 23  channel_amex            256334 non-null  int64
dtypes: float64(4), int64(19), object(1)
memory usage: 46.9+ MB

In [5]:
df['createdAt']=pd.to_datetime(df.createdAt)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256334 entries, 0 to 256333
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   payerAccountNumber      256294 non-null  float64
 1   status                  256334 non-null  object
 2   originalAmount          256334 non-null  float64
 3   type                    256334 non-null  object
 4   currency                256334 non-null  object
 5   createdAt               256334 non-null  datetime64[ns]
 6   payeeIdTransformed      256334 non-null  int64
 7   payerIdTransformed      256334 non-null  int64
 8   is_fraud                256334 non-null  object
 9   amount_high             256334 non-null  object
 10  bank_approved           256334 non-null  object
 11  bank_err                256334 non-null  object
 12  bank_invalid_card       256334 non-null  object
 13  bank_insufficient_fund  256334 non-null  object
 14  bank_do_not_honor       256334 non-null  object
 15  bank_lost_card          256334 non-null  object
 16  initialized_api         256334 non-null  object
 17  initialized_session     256334 non-null  object
 18  initialized_plugin      256334 non-null  object
 19  initialized_ext_api     256334 non-null  object
 20  initialized_ipg         256334 non-null  object
 21  channel_master          256334 non-null  object
 22  channel_visa            256334 non-null  object
 23  channel_amex            256334 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(19)
memory usage: 46.9+ MB

In [6]:
import numpy as np
df['createdAt'] = df.createdAt.values.astype(np.int64) // 10 ** 9
df.head()
df.to_csv('transaction_timestamp.csv',index=False)

In [7]:
df = pd.read_csv('transaction_timestamp.csv',delimiter=",")
df.head()

,payerAccountNumber,status,originalAmount,type,currency,createdAt,payeeIdTransformed,payerIdTransformed,is_fraud,amount_high,...,bank_do_not_honor,bank_lost_card,initialized_api,initialized_session,initialized_plugin,initialized_ext_api,initialized_ipg,channel_master,channel_visa,channel_amex
0,4.216896e+09,1,6110.0,1,1,1590972454,2,208,0,0,...,0,0,0,1,0,0,0,0,1,0
1,4.835598e+09,0,3274.0,0,1,1590974487,3,209,0,0,...,0,0,1,0,0,0,0,0,1,0
2,4.216898e+09,0,2303.0,0,1,1590974490,3,210,0,0,...,0,1,1,0,0,0,0,0,1,0
3,4.216893e+09,0,9000.0,0,1,1590974492,3,211,0,0,...,0,0,1,0,0,0,0,0,1,0
4,4.216899e+09,0,6250.0,0,1,1590974494,3,212,0,0,...,0,0,1,0,0,0,0,0,1,0

In [8]:
con_vars = ['createdAt']
scaler = StandardScaler()
df[con_vars]=scaler.fit_transform(df[con_vars])
df.head(5)

,payerAccountNumber,status,originalAmount,type,currency,createdAt,payeeIdTransformed,payerIdTransformed,is_fraud,amount_high,...,bank_do_not_honor,bank_lost_card,initialized_api,initialized_session,initialized_plugin,initialized_ext_api,initialized_ipg,channel_master,channel_visa,channel_amex
0,4.216896e+09,1,6110.0,1,1,-2.150798,2,208,0,0,...,0,0,0,1,0,0,0,0,1,0
1,4.835598e+09,0,3274.0,0,1,-2.150537,3,209,0,0,...,0,0,1,0,0,0,0,0,1,0
2,4.216898e+09,0,2303.0,0,1,-2.150537,3,210,0,0,...,0,1,1,0,0,0,0,0,1,0
3,4.216893e+09,0,9000.0,0,1,-2.150536,3,211,0,0,...,0,0,1,0,0,0,0,0,1,0
4,4.216899e+09,0,6250.0,0,1,-2.150536,3,212,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
df.to_csv('transaction_timestamp_standerdize.csv',index=False)